<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>hippo</title>
        <link rel = "stylesheet" href="gui-ne.css">
        <script type = "text/javascript" src="gui-ne.js"></script>
    </head>
    <body class="gui-ne-body">
        <div class = "gui-ne-card-btm">
            <h1 class="gui-ne-text">hippo | Search Result</h1>
            <br>
            <br>               
        </div>
        <br>
        

        if searchResult
            if searchResult[0] == "error"
                <div class = "gui-ne-card-df">
                    <p class = "gui-ne-text"> #{searchResult[1]} </p>
                </div>
            else
                for record in searchResult
                    <div class="gui-ne-card-df">
                        <div class="gui-ne-row">
                            <div class="gui-ne-col-3">
                                <div class="gui-ne-img ">
                                    <img height="200px" width="150px" class="gui-ne-img-profile" src=data:image/jpeg;base64,#{record.base64Image}>
                                </div>
                            </div>
                            <div class="gui-ne-col-8 gui-ne-row">
                                <div class="gui-ne-col-5">
                                    <div class="gui-ne-input-group gui-ne-anim-slide-in-right">
                                        <p class="gui-ne-text">Full Name </p>
                                        <p class="gui-ne-input gui-ne-col-8" > #{record.lastName} #{record.firstName} </p>
                                    </div>
                                    <div class="gui-ne-input-group gui-ne-anim-slide-in-right">
                                        <p class="gui-ne-text">BVN </p>
                                        <p class="gui-ne-input gui-ne-col-8" > #{record.bvn}</p>
                                    </div>
                                    <div class="gui-ne-input-group gui-ne-anim-slide-in-right">
                                        <p class="gui-ne-text">NIN </p>
                                        <p class="gui-ne-input gui-ne-col-8" > #{record.nin}</p>
                                    </div>
                                    <br>
                                </div>
                                <div class="gui-ne-col-5">
                                    <div class="gui-ne-input-group gui-ne-anim-slide-in-right">
                                        <p class="gui-ne-text"> Gender </p>
                                        <p class="gui-ne-input gui-ne-col-8" > #{record.gender}</p>
                                    </div>
                                    <div class="gui-ne-input-group gui-ne-anim-slide-in-right">
                                        <p class="gui-ne-text">Phone Number </p>
                                        <p class="gui-ne-input gui-ne-col-8" >  #{record.phoneNumber} </p>
                                    </div>
                                    <br>
                                    <button onclick='more(#{record.id})' class="gui-ne-btn-go"> Read More</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                script(type="text/javascript").
                    var more = async (id) => {
                        return window.location = `/gui-more${id}`;
                    }
        else 
            <p class="gui-ne-text">  No result </p>
    </body>
</html>